#app{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

body{
    font-family: Arial, sans-serif;
    background-color: #84a9d6;
    color: #000000;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    border: 3px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
}

button{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
}

input{
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

.result{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    background-color: rgba(0, 128, 0, 0.493);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1{
    margin-bottom: 30px;
    background-color: rgba(0, 128, 0, 0.493);
    padding: 15px;
    border-radius: 10px;
}